<p>This is the Category Index Page which should display a list of cheese categories.</p>

<ul>
    @foreach (var category in ViewBag.allCategories)
    {
       <li>@category.Name</li>
    }
</ul>
<p><a asp-controller="Category" asp-action="Add">Add Category</a></p>